{% extends "base.html" %}
{% block js %}
<script type="text/javascript" src="/static/misgastos.js"></script>
{% endblock %}


{%block csstabcategoria%}ui-tabs-selected ui-state-active{% endblock%}
{% block content %}
<div class="right agregar">
    <button type="button" class="ui-state-default ui-corner-all" onclick="Agregar('{% url add_categoria %}')">Agregar</button>
</div>
{% with object_list as cats %}
    <table class="table_abc theme" >
        <thead>
        <tr>
            <th>Categorias</th>
            <th>Subcategorias</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for tipo in cats%}
         <tr {% cycle 'class="odd"' '' %}>
            <td>{{ tipo.nombre }}</td>
            <td>
                {%for sub in tipo.subcategorias.all %}
                    {{sub}}
                {%endfor%}
            </td>
            <td>
            
             <button class="ui-widget ui-state-default ui-corner-all" onclick="borrar('{% url del_categoria tipo.nombre %}')">
                     <span class="ui-icon ui-icon-circle-close"></span>
                </button>
                <button class="ui-widget ui-state-default ui-corner-all" onclick="editar('{% url edit_categoria tipo.nombre %}')">
                    <span class="ui-icon ui-icon-pencil"></span>
                </button>
               
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr><td colspan="2"/></tr>
        </tfoot>
    </table>
    
{% endwith %}
    <div id="del">
 Desea Borrar?
</div>

{% endblock%}
