{% extends "base.html" %}
{% block js %}
<script type="text/javascript" src="/static/misgastos.js"></script>
<script type="text/javascript">
$(document).ready(function (){
    $("#id_fecha_inicio,#id_fecha_fin").datepicker( {
        dateFormat: "yy-mm-dd"
    });
    });
</script>
{% endblock %}

{%block csstabingreso%}ui-tabs-selected ui-state-active {% endblock %}

{%block content%}
<div class="right agregar">
    <button class="href" onclick="volver('{% url index %}')"> Volver </button>
</div>
<form method="post" action="">
<table class="theme table_add">
<thead>
    <tr>
        <th colspan="2">
        Nuevo Ingreso
        </th>
    </tr>
</thead>
<tbody>
    {{form}}
</tbody>
<tfoot>
    <tr>
        <td colspan="2" class="right">
            <button type="Submit" class="ui-state-default ui-corner-all">
            Guardar
            </button>
        </td>
    </tr>
</tfoot>
</table>
</form>


{%endblock%}
