{% extends "base.html"%}
{% block js %}
<script type="text/javascript" src="/static/misgastos.js"></script>
{% endblock %}

{%block csstabtipo%}ui-state-default ui-corner-top ui-tabs-selected ui-state-active{% endblock%}
{%block csstabgasto%}ui-state-default ui-corner-top{% endblock %}
{%block csstabcategoria%}ui-state-default ui-corner-top{% endblock %}

{% block content %}
<form method="POST"  action="">
<table class="theme table_add">
<thead>
    <tr>
        <th colspan="2">
            Tipo
        </th>
    </tr>
</thead>
<tbody>
    {{ form }}
</tbody>

     <tfoot>
        <tr>
        <td colspan="2" class="right">
            <button class="ui-state-default ui-corner-all" type="submit">Guardar</button>
         </td>
     </tr>
    </tfoot>

 </table>
</form>

<div class="right agregar">
    <button class="ui-state-default ui-corner-all" onclick="volver('{% url list_tipos %}')"> Volver </button>
</div>

{% endblock %}