{% extends "base.html"%}
{%block js%}
<script type="text/javascript" src="{{MEDIA_URL}}jquery/excanvas.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}jquery/visualize.jQuery.js"></script>
<link type="text/css" href="{{MEDIA_URL}}visualize.css" rel="stylesheet">
<link type="text/css" href="{{MEDIA_URL}}visualize-light.css" rel="stylesheet">
<script type="text/javascript">
$(document).ready(function(){
 $("#content").css("width","100%");
 $("#content").css("padding-left","0px");

    $("table").visualize({type:'line',width: '760px'});
});
</script> 

{%endblock%}
{%block leftmenu%}
{%endblock%}
{% block csstabbalance%}ui-tabs-selected ui-state-active{%endblock%}
{% block content%}
<table class="table_abc theme">
<caption>Gastos </caption>

        <thead>
            <tr>
                <td></td>
                 {%for fecha,importe in gastos%}
                    <th scope="col">
                    {{fecha}}
                    </th>
                {% endfor %}
            </tr> 
        </thead>
        <tbody>
           <tr>

                <th scope="row">Gasto</th>
                 {%for fecha,importe in gastos%}
                    <td>
                    {{importe}}
                    </td>
                {% endfor %}
            </tr>

                <th scope="row">Ingreso</th>
                 {%for fecha,importe in ingresos%}
                    <td>
                    {{importe}}
                    </td>
                {% endfor %}
            </tr>

        </tbody>
    </table>
{%endblock%}
