{% extends "base.html"%}

{%block nocontent %}
{% if user.is_authenticated %}
  <p><a href="{%url index%}">Ir a gastos</a>  </p>
{% endif %}

<div class="ui-widget ui-widget-head">
	{% block content%}
	<div class="ui-widget wi-widget-content padding">
        <p>
		Mis gastos es un pet proyect (proyecto chiquito) el cual se centra en tener un registro de los gastos
                que se tienen.<br>
        Se ah agregado un registros para ingreso y una pestaña de graficas usando canvas y html5
                Para reporte de problemas <a href="http://github.com/zodman/misgastos/issues">http://github.com/zodman/misgastos/issues</a>
        </p>
	</div>
	{% endblock%}
</div>
{% endblock %}
